<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
  <nav class="navbar navbar-custom navbar-fixed-top">
    <div class="container-fluid">
      &nbsp; <div class="navbar-header">
        &nbsp;<a class="navbar-brand">&nbsp;<span class="glyphicon glyphicon-education"></span> Edustop
        </a>
        </div>
      <ul class="nav navbar-nav navbar-right">
        <li class="nav-item"><a href="#"><span class="glyphicon glyphicon-home"></span> Home</a></li>
        <li class="nav-item"><a class="nav-link" routerLink ="/register"><span class="glyphicon glyphicon-user"></span> Sign-Up</a></li>
        <li class="nav-item"><a class="nav-link" routerLink ="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        <li class="nav-item"><a href="#mycont"><span class="glyphicon glyphicon-phone"></span>Contact Us &nbsp;</a></li>
        </ul>
    </div>
  </nav>

</body>
<!--
<li class="nav-item"><a routerLink="/contact"><span class="glyphicon glyphicon-phone"></span>Contact Us</a></li> -->
