.container-fluid{
  padding: 0px;
  overflow: hidden;
}

body{
  overflow: hidden;
}
.navbar-custom{
  background-color: rgb(55,70,90);
 }
 .nav.navbar-nav.navbar-right li a {
   color:white;
 }
 .navbar-brand{
   color:white;
 }

  ul.nav a:hover {
   background-color: #F9AA33 !important;
 }

.navbar-brand img {
  height: 36px;
  width: 30%;
  margin-top: -10px;
  margin-left:-17px;
  margin-right:0px;
}
