<body>
<div class="container-fluid">

<mat-card class="matcc">
  <mat-card-header>
    <mat-card-title>Login</mat-card-title>
</mat-card-header>
<mat-card-content>
<form>
  <mat-form-field class="full-width">
            <mat-label>Username</mat-label>
            <input  matInput placeholder="Enter email" [(ngModel)]="uname"name="uname" required>
            <mat-error>Username Required!</mat-error>
         </mat-form-field>
         <br>
         <mat-form-field class="full-width">
            <mat-label>Password</mat-label>
            <input  matInput placeholder="Password" [(ngModel)]=" password" name="password" type="password" required>
            <mat-error>Password Required!</mat-error>
          </mat-form-field>
<br>
          <button mat-raised-button (click)="login()" color="primary">LOGIN</button>
          &nbsp;&nbsp;&nbsp;<button mat-raised-button (click)="cancel()" color="warn">CANCEL</button>
        </form>
        </mat-card-content>
</mat-card>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br><br>

</div>
</body>
