body{
  height: 100%;
  margin:0;

}
.container-fluid{

  height: 100%;
  background-image: url("/assets/sibg.PNG");
  background-repeat: no-repeat;

  background-size: cover;

display: flex;

  justify-content: center;
  align-items: center;
    padding-left: 0rem;
    padding-right: 0rem;
    overflow: hidden;


}
.col-md-12{
  padding-left: -55px;
}
.matcc{

  /* display:inline-block; */
margin-left: 201px;
margin-top: 0px;
margin-right: 150px;
  height: 230px;
  width: 300px;
}

