<head>
  <link href="https://fonts.googleapis.com/css?family=Bree+Serif&display=swap" rel="stylesheet">

</head>
<div class="container-fluid" id="mycont">
  <div class ="row">
    <div class="col-md-1"></div>
    <div class="col-md-5">
      <br><br>
        <h1 style="font-family: 'Bree Serif', serif;"> Drop Us A Line</h1>
<mat-card-content>
  <br>
  <mat-form-field class="full-width">
    <mat-label>Full Name</mat-label>
    <input matInput placeholder="Full name" [(ngModel)] = "fname" name="fname" required>
  </mat-form-field>
  <br>
  <mat-form-field class="full-width">
    <mat-label>Email</mat-label>
    <input matInput placeholder="Email" [(ngModel)] = "email" name="email" required>

  </mat-form-field>
  <br>
  <mat-form-field class="full-width">
    <mat-label>Message</mat-label>
    <input matInput placeholder="Message" [(ngModel)] = "message" name="message" required>
  </mat-form-field>
  <br>


  &nbsp; <mat-card-actions>
  <button mat-raised-button color="primary" (click) = "contact()">
    SUBMIT</button>
</mat-card-actions>
</mat-card-content>
</div>

    <div class="col-md-6">
        <img src="/assets/co.jpg" alt="cartoon ">
    </div>
  </div>

</div>
