<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Fira+Sans&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Acme&display=swap" rel="stylesheet">
</head>
<div class="container-fluid">
<div class="row">
  <div class="col-md-12">
    <h1 style="color: white; text-align: center; font-family: 'Roboto Slab', serif;"> Subjects Offered </h1>
  </div>
</div>
<br>
  <div class="row">
    <div class ="col-md-3">
      <mat-card >
        <img mat-card-image src="/assets/ang.png" alt="Angular Logo">
        <mat-card-header>
          <mat-card-title>Angular</mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <p>
           Angular is a complete Javascript framework for creating dynamic and interactive applications in HTML.
          </p>
        </mat-card-content>
      </mat-card>

    </div>
    <div class ="col-md-3">
      <mat-card >
        <img mat-card-image src="/assets/java.jpeg" alt="Java Logo">
        <mat-card-header>
          <mat-card-title>Java </mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <p>
         Used for both client-server programs , web applications and Android development.
          </p>
        </mat-card-content>
      </mat-card>

    </div>
    <div class ="col-md-3"><mat-card >
      <img mat-card-image src="/assets/node.png" alt="Node Logo">
      <mat-card-header>
        <mat-card-title>Node</mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <p>
          Node.js is a JavaScript runtime that uses a non-blocking I/O model that makes it very popular among JavaScript developers.
        </p>
      </mat-card-content>
    </mat-card>
    </div>
    <div class ="col-md-3">
      <mat-card >
        <img mat-card-image src="/assets/js.png" alt="JS Logo">
        <mat-card-header>
          <mat-card-title> JavaScript </mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <p>JavaScript is the most widely deployed language in the world.</p>
        </mat-card-content>
      </mat-card>

    </div>
  </div>
  <br>
  <div class="row">
    
  </div>
</div>
