/* img {
  width: 100%;
  height: 100%;
  object-fit: contain;
} */
.container-fluid{
  background-color: rgb(55,70,90);

  overflow: hidden;
}
mat-card img{
  padding-top: 30px;
  padding-left: 30px;

   /*this makes de image in src fit to the size of specified below*/
  width: auto; /* Here you can use wherever you want to specify the width and also the height of the <img>*/
  height: 65%;
  }

  mat-card{
    height: 350px !important;
  }

p{
  font-family: 'Fira Sans', sans-serif;
}
mat-card-title{
  font-family: 'Acme', sans-serif;
}
