
.container-fluid{
  padding-left: 0rem;
  padding-right: 0rem;
  overflow: hidden;

}
.mat-tab-label ,.mat-tab-labels  {
 min-height: 63px !important;
 min-width: 62px !important;
}
#h{

  color:white
}
body{
  background-color: #F5F5F5;
}

#mynavv{
  background-color: white;
}
li img{

  height:200px;

  width:250px;
}
li{
  list-style-type: none;
}
#subur{
  margin-left: 5px;
}

.main-footer{
 background-color: rgb(55,70,90);
}
mat-card-content{

  font-weight: bold;
  padding-left: 15px;

}

.r{

  width:300px;
  height:300px;
  padding-left: 40px;
  margin-left: 30px;
}

.con{

width:400px;
height:345px;
display: inline-flex;
margin-left: 40px;
padding-left: 30px;
margin-bottom: 20px;
margin-top: 20px;


}
.cor{

  width:90%;
  height:270px;
  margin-top:20px;
  margin-bottom: 25px;
  margin-left: 10px;
}

.youb
{

  display: inline-flex;
  margin-left: 40px;
  padding-left: 30px;
  margin-bottom: 20px;
  margin-top: 20px;

}
