<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Neuton&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Merriweather&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Crimson+Text&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
  <body>
    <div class="container-fluid">
        <div class="row" style="background-color: rgb(55,70,90);">
          <h2 style="color: white; font-family: 'Roboto Slab', serif;"> &nbsp;&nbsp; &nbsp;&nbsp;
            <span class="glyphicon glyphicon-education"></span>&nbsp; Edustop
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="#">
              <span class="glyphicon glyphicon-log-out" style="color:white"></span>
            </a>
           </h2>
            </div>

            <div class="row">
              <div class="col-md-3">
      <br>
      <div class="row">

        <mat-card class="r">
          <mat-card-content>
          <mat-card-title>  Choose a Subject :</mat-card-title> <br>
           <div *ngFor="let content of subject">
              <input
              type="radio"
              name="choicee"
              value="{{content}}"
              (change)="subjectHandler($event)">&nbsp;
              {{content}}
          </div>
</mat-card-content>
        </mat-card>
<br><br>
        <mat-card class="r">
          <mat-card-content>
          <mat-card-title> Explore:</mat-card-title> <br>
            <div *ngFor="let content of contentc">
              <input
              type="radio"
              name="choicee"
              value="{{content}}"
              (change)="radioChangeHandler($event)">&nbsp;
              {{content}}
          </div>
</mat-card-content>
        </mat-card>
             </div>
      <br>
      <br>
    </div>

<div class="col-md-9">

<div class="row" *ngIf = "bchoosen">
  <mat-card *ngFor="let b of data" class="con">
    <mat-card-content>
    <mat-card-title style="font-family: 'Merriweather'; text-decoration-line: underline;">{{b.title}} </mat-card-title> <br>
<p style="font-family: 'Crimson Text'; font-size: 18px;">{{b.description}}</p>
<p><a href="{{b.links}}">Go to the blog</a>
  </p>
</mat-card-content>
  </mat-card>
</div>


<div class="row" *ngIf = "cchoosen">
  <mat-card *ngFor = "let c of data" class="cor">
    <mat-card-content>
    <mat-card-title style="font-family: 'Merriweather'; text-decoration-line: underline;">{{c.title}}</mat-card-title> <br>
<p style="font-family: 'Crimson Text';font-size: 18px; ">{{c.desc}}</p>
<p><a href="{{c.link}}">Go to Course</a>
  </p>
</mat-card-content>
  </mat-card>
</div>

<div class="row" *ngIf = "ychoosenv">
  <div *ngFor="let y of data" class="youb">
      <iframe [class.thumbnail]="thumbnail" [src]='sanitizer.bypassSecurityTrustResourceUrl(y.links)' width="400" height="315" frameborder="0" webkitallowfullscreen mozallowfullscreen
      allowfullscreen></iframe>
</div>
</div>

</div>
    </div>


<!-- footer code  -->

    <footer class="main-footer">
      <div class="container" id="foot">
        <div class="row">

        </div><br><br>
        <div class="row">

          <div class="col-md-4">
            <h4 style="color: white; font-family: 'Roboto Slab', serif;">Get in touch:<br></h4>
            <ul class="list-inline social-buttons">

              <li class="list-inline-item">
                <a href="https://github.com/muskan18">
                  <i class="fa fa-github fa-2x" style="color: white;">&nbsp;
                  </i>
                </a>
              </li>

              <li class="list-inline-item">
                <a href="http://www.instagram.com/muskannbansal">
                  <i class="fa fa-instagram fa-2x" style="color: white;">&nbsp;</i>
                </a>
              </li>


              <li class="list-inline-item">
                <a href="http://www.linkedin.com/in/muskan-bansal10">

                  <i class="fa fa-linkedin fa-2x" style="color: white;">&nbsp;</i>
                </a>
              </li>

            </ul>
          </div>

          <div class="col-md-8">
            <p style="text-align: right;">
              <br>
                <font style="size: 10px;color: white; font-family: 'Roboto Slab', serif;">Call Us on: &nbsp; </font>   <font style="size: 10px;color: white; font-family: 'Roboto Slab', serif;">123123789</font>
              <br><font style="size: 10px;color: white; font-family: 'Roboto Slab', serif;">  Email Us on: &nbsp;</font>    <font style="size: 10px;color: white; font-family: 'Roboto Slab', serif;">muskanbansal808@gmail.com</font><br>
            </p>
          </div>

          <div class="col-md-12">
            <br><br><br>
            <p style="font-size: 30px; color: white; text-align:center; font-family: 'Merriweather', serif;"><i class="fa fa-code"></i> by Muskan Bansal</p>
            <p class="template-bootstrapious" style="color: white; text-align: center; ">© 2020 All rights reserved.</p>
          </div>
        </div>
      </div>
    </footer>
 </div>
  </body>
  </html>
