.container-fluid{
  padding-left: 0rem;
  padding-right: 0rem;
  overflow: hidden;

}
mat-card{
  display: block;
  border: whitesmoke;
height: 400px;
width:400px;
margin-left: 150px;
margin-top: 27px;

}

.example-icon {
  margin-left: 1148px;
}
mat-form-field {
  width: 100%;
}
