<mat-toolbar color="primary"><span style="text-align:center;">Welcome Admin ! </span>
  <mat-icon class="example-icon" aria-hidden="false" (click)="oncancel()">perm_identity</mat-icon></mat-toolbar>

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <mat-card>
          <mat-form-field>
        <mat-label>Choose a Subject </mat-label>
        <mat-select [(ngModel)]="subjectsel" required>
          <mat-option value = "angular">Angular</mat-option>
          <mat-option value = "node">Node</mat-option>
          <mat-option value = "java">Java</mat-option>
          <mat-option value = "javascript">JavaScript</mat-option>

        </mat-select>
        <mat-error>Subject Required!</mat-error>
      </mat-form-field>
      <br>
      <mat-form-field>
        <mat-label>What do you want to add ? </mat-label>
        <mat-select [(ngModel)]="contentsel" required>
          <mat-option value = "course">Courses</mat-option>
          <mat-option value = "blogs">Blogs</mat-option>
           </mat-select>
           <mat-error>Required!</mat-error>
          </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>Enter the title</mat-label>
      <textarea matInput (change)="titlehandler($event)" required></textarea>
      <mat-error>Title Required!</mat-error>
    </mat-form-field>
    <br>
    <mat-form-field >
      <mat-label>Enter the description</mat-label>
      <textarea matInput (change) ="deschandler($event)" required></textarea>
      <mat-error>Desciption Required!</mat-error>
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>Enter the Links</mat-label>
      <textarea matInput (change)="linkhandler($event)" required></textarea>
      <mat-error>Links Required!</mat-error>
    </mat-form-field>
    <br>
         <button
        mat-raised-button
        color="primary"
        (click) = "onAdd()">Add </button> &nbsp; &nbsp;
         </mat-card>

      </div>
      <div class="col-md-6">
        <h2 style="text-align:centre;">Messages From The Visitors : </h2>
        <br>
<div *ngFor="let m of data">
  <p><b>From :</b> {{m.name}}<br>
  <b>EmailId: </b>{{m.emailid}} <br>
<b>Message :</b>{{m.message}}<br><br><hr></p>
</div>

      </div>
    </div>
  </div>
