<head>
  <link href="https://fonts.googleapis.com/css?family=Slabo+27px&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Bree+Serif&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Neuton&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Fira+Sans&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Acme&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Arvo:700&display=swap" rel="stylesheet">
</head>
<body>
<div class="container-fluid">
  <div class="row" id="imm">
       <img src="/assets/bg1.webp" class="img-responsive" id="mmi">
  <div class="text-block">
    <h1 style="font-family: 'Bree Serif', serif; text-align: center;">Learn From Doing </h1>
    <p id="c">Learn Something new everyday with us.</p>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-3">
    <mat-card>
      <mat-card-header>
        <h4 class="card-title">Online Training From Experts <i class="material-icons">&#xe912;</i>
        </h4></mat-card-header>
        <img mat-card-image src="/assets/1.jpg">
      <mat-card-content>
       <p>Get the best trainer's from our website.</p>
      </mat-card-content>
      </mat-card>
  </div>

  <div class="col-md-3">
    <mat-card>
      <mat-card-header>
        <h4 class="card-title">Learn anywhere in the world <span class="glyphicon glyphicon-globe"></span>
        </h4 ></mat-card-header>
        <img mat-card-image src="/assets/2.jpg">
      <mat-card-content>
       <p>You can learn any technology by sitting in any part of the world with a single click .</p>
      </mat-card-content>
      </mat-card>
      </div>

  <div class="col-md-3">
    <mat-card>
      <mat-card-header>
        <h4 class="card-title">Creative learning <span class="glyphicon glyphicon-film"> </span>
        </h4></mat-card-header>
        <img mat-card-image src="/assets/3.jpg">
      <mat-card-content>
       <p>The courses , information provided helps you learn in a creative way..</p>
      </mat-card-content>
      </mat-card>
  </div>

  <div class="col-md-3">
       <mat-card>
      <mat-card-header>
        <h4 class="card-title">Audio Learning <i class="fa fa-headphones" aria-hidden="true"></i>
        </h4></mat-card-header>
        <img mat-card-image src="/assets/4.jpg" >
      <mat-card-content>
       <p>You can watch videos , listen to Podcasts.</p>
      </mat-card-content>
      </mat-card>
  </div>
</div>
<br>
</div>
</body>
