.container-fluid{
  padding-left: 0rem;
  padding-right: 0rem;
  overflow: hidden;

}

h2{
  color:white;
  font-weight: 550;
  text-align: center;
  margin-top: 100px;
}
#c{
  color:white;
  text-align: center;
  font-family: 'Neuton', serif;
  font-size: 1.5em;
}
btn btn-info
{
background-color: rgb(55, 70, 90) !important;
}
.card{
  background-color: rgb(55,70,90);
  color:white;
  height:150px;
  width:100px;
}
.no-padding {
  padding-left: 0;
  padding-right: 0;
}
.text-block {
  position: absolute;
  left:30px;
  right:50px;
  top:200px;
  background-color:transparent;
  color: white;
  padding-left: 1px;
}

#imm{
  position: relative;

}

#mmi{
  max-width: auto;
  margin-top:-10px;
  height:40%;
}

mat-card img{
  padding-top: 20px;
  object-fit: cover;
  max-width: auto;
   height: 65%;
  }

  mat-card{
    height: 350px !important;
    box-shadow: 5px,10px ;
   }

p{
  font-family: 'Fira Sans', sans-serif;
}
mat-card-title{
  font-family: 'Acme', sans-serif;
}
mat-card-header{
  font-family: 'Acme', sans-serif;
}
