body{

height:100%;
margin:0;
}

.container-fluid{

  height: 100%;
  background-image: url("/assets/sibg.PNG");
  background-repeat: no-repeat;

  background-size: cover;

display: flex;

  justify-content: center;
  align-items: center;
    padding-left: 0rem;
    padding-right: 0rem;
    overflow: hidden;

}
.matc{
  display:inline-block;
  height: 350px;
  width: 300px;
}
