<body>
<div class="container-fluid">
  <mat-card class="matc">
<mat-card-header>
    <mat-card-title>Sign Up</mat-card-title>
   </mat-card-header>
<mat-card-content>
  <form>
          <mat-form-field class="full-width">
                 <mat-label>First Name</mat-label>
                 <input matInput placeholder="First name" name="fname" [(ngModel)]="fname" required>
                 <mat-error>Firstname Required!</mat-error>
              </mat-form-field>
              <br>
              <mat-form-field class="full-width">
                 <mat-label>Last Name</mat-label>
                 <input  matInput  placeholder="Last Name" name="lname" [(ngModel)]="lname" required>
                 <mat-error>Lastname Required!</mat-error>
                </mat-form-field>

              <br><mat-form-field class="full-width">
                 <mat-label>Email</mat-label>
                 <input  matInput  placeholder="Email" name="email" [(ngModel)]="email" required>
                 <mat-error>Email Required!</mat-error>
                </mat-form-field>
              <br><mat-form-field class="full-width">
                 <mat-label>Password</mat-label>
                 <input  matInput  placeholder="Password" type="password" name="password" [(ngModel)]="password" required >
                 <mat-error>Password Required!</mat-error>
                </mat-form-field>
              <br>

              <button mat-raised-button color="primary" (click) = "register()">SIGN UP</button>
              &nbsp;&nbsp;&nbsp;<button mat-raised-button (click)="cancel()" color="warn">CANCEL</button>
            </form>

</mat-card-content>

</mat-card>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br><br>
</div>
</body>
