<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Merriweather&display=swap" rel="stylesheet">
</head>
<footer class="main-footer">
  <div class="container-fluid">
    <div class="row">

    </div><br><br>
    <div class="row">

      <div class="col-md-4">
        <h4 style="color: white; font-family: 'Roboto Slab', serif;">  &nbsp;&nbsp;Get in touch:<br></h4>
        &nbsp;<ul class="list-inline social-buttons">

          <li class="list-inline-item">
            <a href="https://github.com/muskan18">
              &nbsp;&nbsp;<i class="fa fa-github fa-2x">&nbsp;</i>
            </a>
          </li>

          <li class="list-inline-item">
            <a href="http://www.instagram.com/muskannbansal">
             <i class="fa fa-instagram fa-2x">&nbsp;</i>
            </a>
          </li>


          <li class="list-inline-item">
            <a href="http://www.linkedin.com/in/muskan-bansal10">
              <i class="fa fa-linkedin fa-2x">&nbsp;</i>
            </a>
          </li>

        </ul>
      </div>
      <!-- /.6-->
      <div class="col-md-8">
        <p style="text-align: right;">
          <br>
            <font style="size: 10px;color: white; font-family: 'Roboto Slab', serif;">Call Us on: &nbsp; </font>   <font style="size: 10px;color: white; font-family: 'Roboto Slab', serif;">123123789 &nbsp;&nbsp;</font>
          <br><font style="size: 10px;color: white; font-family: 'Roboto Slab', serif;">  Email Us on: &nbsp;</font>    <font style="size: 10px;color: white; font-family: 'Roboto Slab', serif;">muskanbansal808@gmail.com&nbsp;&nbsp;</font><br>
        </p>
      </div>

      <div class="col-md-12">
        <br><br><br>
        <p style="font-size: 30px; color: white; text-align:center; font-family: 'Merriweather', serif;"><i class="fa fa-code"></i> by Muskan Bansal</p>
        <p class="template-bootstrapious" style="color: white; text-align: center; ">© 2020 All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>
