
.container-fluid{
  padding-left: 0rem;
  padding-right: 0rem;
  overflow: hidden;

}

.c{
  text-align: center;
}
.main-footer{

  background-color: rgb(55,70,90);
  height:300px;
}

.rt
{
  color: white;
}

#by{
  text-align: center;
}

.fa{
  color:white;
}
