<div class="container-fluid">
<div class="row">
<div class="col-md-12">
  <app-nb></app-nb>
</div>
</div>
<div class="row">
<div class="col-md-12">
  <app-mainp></app-mainp>
</div>
</div>

<div class="row">
  <div class="col-md-12">

  <app-course></app-course>

</div>
</div>
<div class="row">
  <div class="col-md-12">
  <app-contact></app-contact>
</div>
</div>
<div class="row">
<div class="col-md-12">
<app-foot></app-foot>
</div>
</div>

</div>
